.btn-bc{
    background-color: rgb(242, 52, 115) ;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}

.input-update{
    border-style: none;
    min-width: 100%;
    min-height: 100%;
}

